<footer id="footer">
  <ul class="icons">
    <li><a href="https://www.linkedin.com/in/anne-lechene-802193aa/" target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
  </ul>
  <ul class="copyright">
    <li><a href="{{ "/projets" | relative_url }}">Projets</a></li>
    <li><a href="{{ "/articles" | relative_url }}">Articles</a></li>
    <li><a href="{{ "/maintenant" | relative_url }}">Maintenant</a></li>
    <li><a href="{{ "mentions-legales" | absolute_url }}">Mentions légales</a></li>
  </ul>
  <ul class="copyright">
    <li>Sauf mention contraire, les contenus de ce site sont sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Creative
        Commons BY-NC-SA</a></li>
    <li>Réalisation : <a href="https://www.lassembleuse.fr/">L'assembleuse</a></li>
  </ul>
</footer>