<!-- <header id="header" class="alt" role="banner"> -->
<header id="header" class="" role="banner">

  <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
  <nav id="nav">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}

    <ul>
      <li><a href="{{ "/" | relative_url }}">Accueil</a></li>
      <li><a href="{{ "/#demarche" | relative_url }}">Démarche</a></li>
      <li><a href="{{ "/#savoir-faire" | relative_url }}">Savoir-faire</a></li>
      <li>
        <a href="#" class="icon fa-angle-down">Projets</a>
        <ul>
          {% for project in site.projects %}
          <li><a href="{{project.url}}">{{ project.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="#" class="icon fa-angle-down">Articles</a>
        <ul>
          {% for article in site.articles %}
          <li><a href="{{article.url}}">{{ article.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{ "/#parcours" | relative_url }}">Parcours</a></li>
      <li><a href="{{ "/maintenant" | relative_url }}">Maintenant</a></li>
      <li><a href="{{ "/" | relative_url }}">Contact</a></li>
      <!-- <li><a href="#" class="button">Sign Up</a></li> -->
    </ul>
  </nav>
</header>
