---
layout: default
---
<section id="main" class="container">
  <header>
    <h2>{{ page.title }}</h2>
    <!-- <p>{{ page.subtitle }}</p> -->
  </header>
  <div class="box">
    <span class="image featured">{% asset {{page.picture}} alt='{{ page.title }}' %}</span>
    {{ content }}
  </div>
  <ul class="alt document-footer">
    <li><span>Paru dans : </span> {{page.published_in}} </li>
    <li><span>Date : </span> {{page.publication_date}} </li>
    {% if page.web_url %}
    <li><span>Lien : </span> <a href="{{page.web_url}}">{{page.web_url}}</a> </li>
    {% endif %}
  </ul>
</section>


