<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include head.html %}

  <body class={% if page.url == '/' %}{{ 'landing is-preload' }}{% else %}{{ 'is-preload' }}{% endif %}>
    
  <body class="">
    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

    </div>
    {% asset alpha/jquery.min.js %}
    {% asset alpha/jquery.dropotron.min.js  %}
    {% asset alpha/jquery.scrollex.min.js  %}
    {% asset alpha/browser.min.js  %}
    {% asset alpha/breakpoints.min.js  %}
    {% asset alpha/util.js  %}
    {% asset alpha/main.js  %}
  </body>

</html>
