---
layout: default
---
<section id="main" class="container">
  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.subtitle }}</p>
  </header>
  <div class="box">
    <!-- <span class="image featured">{% asset pic01.jpg alt='coffee alt' %}</span> -->
    {{ content }}
  </div>
  <ul class="alt document-footer">
    <li><span>Période : </span> {{page.year}} </li>
    {% if page.web_url %}
    <li><span>Lien : </span> <a href="{{page.web_url}}">{{page.web_url}}</a> </li>
    {% endif %}
  </ul>

    <ul class="actions special">
      <li><a href="{{ "/projets" | relative_url }}" class="button">Retour aux projets</a></li>
    </ul>
</section>


